numpy
scipy
pandas
shapely
gdal==2.2.3 --install-option="build_ext" --install-option="$(gdal-config --cflags | sed 's/-I/--include-dirs=/')"
fiona --install-option="build_ext" --install-option="$(gdal-config --cflags | sed 's/-I/--include-dirs=/')"
matplotlib
rasterio
geopandas
Pillow
netcdf4
scikit-image
configobj
joblib
xarray
boto3
progressbar2
pytest
motionless
dask
bottleneck
ipython
ipympl
param
pyviz_comms
datashader
bokeh
holoviews
panel
parambokeh
salem
git+https://github.com/OGGM/oggm.git
