.toggle {
    background: none repeat scroll 0 0;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
}

.toggle .admonition-title {
    display: block;
    clear: both;
    cursor: pointer;
}

.toggle .admonition-title:after {
    content: " ▶";
}

.toggle .admonition-title.open:after {
    content: " ▼";
}
